.app-list-item {
  font-size: 1.25rem;
}

.app-list-item button {
  width: 35px;
  height: 35px;
  margin: 3px;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
.app-list-item button:focus {
    box-shadow: none;
    outline: none;
}
.app-list-item .btn-star {
    /* border-color: #FFD700; */
    /* color: #FFD700; */
    -webkit-text-stroke: 1px black;
    color: #ffd900;
}
.app-list-item .btn-trash {
    color: red;
}
.app-list-item .fa-heart {
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  font-size: 16px;
  color: red;
  transition: 0.3s all;
  transform: translateX(30px);
  opacity: 0;
}

.app-list-item-label {
  display: block;
  line-height: 35px;
  cursor: pointer;
  user-select: none;
  transition: 0.5s all;
}

.app-list-item.like .fa-heart {
  opacity: 1;
  transform: translateX(0px);
}

.app-list-item.important .app-list-item-label {
  /* -webkit-text-stroke: 1px #721100; */
  /* -webkit-text-fill-color: rgb(255, 17, 0); */
  /* color: #FFD700; */
  -webkit-text-stroke: 1px #e03b3b;
  color: #ff0000;
}

.app-list-item.important .btn-star {
    color: #aeaeae;
}
